$black: #000000;
$white: #ffffff;
$color: #EE1D36;
$blue:#071F40;
$green: rgb(36, 167, 36);
$lightblue:#0066CC;
$grey:#BDBCBC;
$lightgrey:#8D95A1;
$darkblue: #0C1A2C;
$anotherblue: #1C2334;
$rgba: rgba(13, 4, 3, 0.88);