$Roboto: "Roboto", sans-serif;
$barlow: "Barlow", sans-serif;
/* Mixins */
@mixin trans {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

$box-shadow: 0 0 15px rgba(238,29,54,0.5);
$gradient: linear-gradient(180deg, #EE1D36 0%, #940718 100%);
/* Animation */
// @include animation-anime(Navanime, 1.2s, linear);
@mixin animation-anime($animname, $animetime, $flow) {
    -webkit-animation: $animname $animetime $flow;
    -moz-animation: $animname $animetime $flow;
    animation: $animname $animetime $flow;
}

@mixin animationanime($animname, $animetime, $flow, $stay, $altr) {
    -webkit-animation: $animname $animetime $flow $stay $altr;
    -moz-animation: $animname $animetime $flow $stay $altr;
    animation: $animname $animetime $flow $stay $altr;
}

/* Animation */
/* Mixins */